body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    font-family: helvetica, arial, verdana, sans-serif
}
#main-text {
    text-shadow: 5px 5px black;
}

.houses-homescreen{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid forestgreen;
    border-top: 1px solid forestgreen;

}
.houses-homescreen h2{
    color: red;
    font-style: italic;
}
.houses-homescreen p{
    color: black;
    display: inline-block;
    font-style: italic;
}
#container {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.invisible{
    display: none;
}
.navigation{
    width: 100%;
    text-align: center;
    background-color: darkgray;
    color: white;
    position: relative;
}
.navigation a img{
    width: 2vw;
    height: auto;
    display: inline-block;
    position: absolute;
    left: 5px;
    top:40%;
}
.navigation img{
    width: 10%;
    text-align: center;
}
.navigation h1{
    display: inline-block;
}
.house-selection{
    width: 100%;
    text-align: center;
    background-color: darkgray;
    padding: 20px;
}
.house-selection button{
    display: inline-block;
    width: 17vw;
    height: auto;
    border: 1px solid forestgreen;
    border-radius: 5px;
    padding: 20px;
    background-color: whitesmoke;
}
.house-selection button:hover{
    color:white;
    background-color: darkseagreen;
}
.selected{
    color:white !important;
    background-color:  forestgreen !important;
}

.house{
    width: 100%;
    background-color: whitesmoke;
    color: black;
    padding: 4vh 2vh;
    height: 35vw;
    min-height: 300px;
    border-bottom: 1px solid forestgreen;
}
.houses-info{
    display: inline-block;
    width: 54%;
    text-align: center;
    height: 50%;
}
.houses-info hr {
    height: 1px;
    width: 80%;
    border: 0;
    border-top: 1px solid forestgreen;
}
.house img{
    width: 44%;
    height: auto;
    display: inline-block;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    vertical-align: top;
    max-height: 30vw;
}
.house p{
    font-size: 1.33vw;
    vertical-align: middle;
    font-style: italic;
    display: inline-block;
    text-align: center;
}
.house h1{
    font-size: 3vw;
}
.thumbnails{
    display: inline-block;
    text-align: center;
    border: 1px solid ghostwhite;
    vertical-align: baseline;
    height: 50%;
}
.thumbnails img{
    width: 15%;
    height: 6vw;
    display: inline-block;
    border: 1px solid black;
    border-radius: 0px;
}
#rooms {
    padding: 100px;
    background-color: whitesmoke;
    text-align: center;
}

.rooms-info-list {
    text-align: center;
    display: inline-block;
}

.rooms-info-list ul {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    font-size: 24px;
}

.rooms-info-list li {
    margin: 5px;
}

.rooms-info-list ul li img {
    width: 28px;
    height: auto;
}
