body {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    font-family: helvetica, arial, verdana, sans-serif
}

#container {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#nav-menu {
    float: right;
    height: 100%;
}

#navbar-header {
    margin: 0px;
    height: 100%;
}

nav.navbar {
    display: inline-block;
    background-color: rgba(88,88,88,.5);
/ / Animation -webkit-transition: all 0.4 s ease;
    transition: all 0.4s ease;
    text-align: center;
    height: 75px;
    font-size: 21px;
}
nav.navbar li :hover{
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: 21px;
}

nav.shrink {
    height: 50px;
    font-size: 14px;
}

nav.shrink ul {
    height: 100%;
}

#info {
    color: black;
    background-color: whitesmoke;
    border: 1px solid rgba(66,244,122,1);
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#info h1{
    font-size: 2vw;
}

#info img {
    width: 250px;
    height: 250px;
    display: inline-block;
    border: 1px solid whitesmoke;
    border-radius: 50%;
}

#info .description {
    width: 50%;
    display: inline-block;
    text-align: center;
    font-size: 1.5vw;
}
.info-container {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}
#left-container{
    text-align: right;
}
#right-container{
    text-align: left;
}


#rooms {
    padding: 100px;
    background-color: whitesmoke;
    text-align: center;
}

.rooms-info-list {
    text-align: center;
    display: inline-block;
}

.rooms-info-list ul {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    font-size: 24px;
}

.rooms-info-list li {
    margin: 5px;
}

.rooms-info-list ul li img {
    width: 28px;
    height: auto;
}

#map {
    background-color: whitesmoke;
}

#price-and-contacts {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;

}

.price-contacts-field {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

#contacts img {
    width: 20px;
}


#static-image{
    z-index: -1;
    position: fixed;
    top: 0px;
    width: 100%;
    filter: blur(5px);
}
footer {
    background-color: dimgrey;
    height: 200px;
}
a{
    color:white;
}


