body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    font-family: helvetica, arial, verdana, sans-serif
}

#container {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#nav-menu {
    float: right;
    height: 100%;
}

#navbar-header {
    margin: auto;
    display: inline-block;
    font-size: 2vw;
    width: 20%;
    height: auto;
}

nav.navbar {
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
/ / Animation -webkit-transition: all 0.4 s ease;
    transition: all 0.4s ease;
    text-align: center;
    height: 75px;
    font-size: 1.5vw;
    border-bottom: 1px solid black;
}

nav.navbar li :hover {
    text-decoration: none;
    background-color: forestgreen;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    color: white;
}
nav.navbar li a{
    color: black;
    height: 100%;
    padding: 1em 1em;
}

.navbar-body ul li {
    text-align: right;
    height: 100%;
}


.navbar-body ul {
    height: 100%;
}

nav.shrink {
    height: 50px;
    font-size: 1.2vw;
    background-color: white;
}

nav.shrink ul {
    height: 100%;
}

nav.shrink ul li {
    font-size: 1vw;
    height: 100%;
    display: inline-block;

}

.navbar-body {
    display: inline-block;
    float: right;
    width: 79%;
    height: 100%;
}

#info {
    color: black;
    background-color: whitesmoke;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#info h1 {
    font-size: 2vw;
}

#info img {
    width: 250px;
    height: 250px;
    display: inline-block;
    border: 1px solid whitesmoke;
    border-radius: 50%;
}

#info .description {
    width: 50%;
    display: inline-block;
    text-align: center;
    font-size: 1.5vw;
}

.info-container {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}

#left-container {
    text-align: right;
}

#right-container {
    text-align: left;
}
.houses-link-gallery{
    width: 100%;
    height: auto;
    position: relative;

}
.houses-link-gallery button{
    display: inline-block;
    width: 20%;
    height: 20%;
    border: 1px solid forestgreen;
    border-radius: 5px;
    position: absolute;
    bottom: 3em;
    left: 10em;
}
.houses-link-gallery button:hover{
    background-color: forestgreen;
}
.houses-link-gallery button:hover > a{
    color: white;
}
.houses-link-gallery a{

    font-size: 2vw;
    text-decoration: none;
    color: forestgreen;
}
.houses-link-gallery img{
    width: 100%;
    display: inline-block;
    z-index:-1;
}


#rooms button{
    display: inline-block;
    width: 200px;
    margin-bottom:50px;
    padding: 10px;
    background-color: skyblue;
    color: whitesmoke;
    border: 1px solid white;
    border-radius: 5px;
}
#rooms {
    padding: 100px;
    background-color: whitesmoke;
    text-align: center;
}

.rooms-info-list {
    text-align: center;
    display: inline-block;
}

.rooms-info-list ul {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    font-size: 24px;
}

.rooms-info-list li {
    margin: 5px;
}

.rooms-info-list ul li img {
    width: 28px;
    height: auto;
}

#map {
    background-color: whitesmoke;
}

#price-and-contacts {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;

}

.price-contacts-field {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

#contacts img {
    width: 20px;
}

#static-image {
    z-index: -1;
    position: fixed;
    top: 0px;
    width: 100%;
    filter: blur(5px);
}

footer {
    background-color: dimgrey;
    height: 200px;
}

a {
    color: white;
}


