#container {
    margin-top: 50px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
#container > div{
    padding-top: 50px;
    padding-bottom: 50px;
}

nav.navbar {
    background-color: #ccc;
/ / Animation -webkit-transition: all 0.4 s ease;
    transition: all 0.4s ease;
}

nav.navbar.shrink {
    min-height: 5px;
}

#main {
    margin-top: 20px;
    height: 800px;
}

.main-content {
    font-size: 54px;
    color: whitesmoke;
    text-align: center;
    position: relative;
    top: 40%;
}
#info{
    background-color: black;
    border: 1px solid red;
    text-align: center;
}

#info img{
    width: 200px;
    display: inline-block;
    border: 1px solid red;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
#info p{
    display: inline-block;
}
.info-container div{
    display: inline-block;
}


#gallery {
    background-color: whitesmoke;
}
#gallery div{
    width: 60%;
    text-align: center;
}
#rooms{
    background-color: white;
    text-align: center;
}
.rooms-info-list{
    text-align: center;
    display: inline-block;
}
.rooms-info-list ul{
    display: inline-block;
    text-align: left;
    list-style-type: none;
    font-size: 24px;
}
.rooms-info-list li{
    margin:5px;
}
.rooms-info-list ul li img{
    width: 28px;
    height:auto;
}
#map{
    background-color: whitesmoke;
}
#price-and-contacts{
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;

}
.price-contacts-field{
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

#contacts img{
    width: 20px;
}



#static-img {
    width: 100%;
    height: auto;
    z-index: -1;
    position: fixed;
    right: auto;
    top: -50px;
    bottom: auto;
}

